.text-block {
  margin-top: 20px;
  text-align: left;

  @include media-breakpoint-down(xs) {
    margin-top: 30px;
  }

  h2 {
    margin-bottom: 23px;
    text-align: left;

    @include media-breakpoint-down(md) {
      margin-bottom: 13px;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 10px;
    }
  }

  p {
    margin-bottom: 60px;

    @include media-breakpoint-down(md) {
      margin-bottom: 37px;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 30px;
    }
  }

  ul {
    margin-bottom: 50px;
    padding-left: 0;
    list-style: none;

    @include media-breakpoint-down(xs) {
      margin-bottom: 30px;
    }

    li {
      position: relative;
      padding-left: 30px;
      padding-bottom: 15px;
      font-size: 18px;
      line-height: 27px;

      &:before {
        position: absolute;
        top: 8px;
        left: 0;
        display: block;
        width: 10px;
        height: 10px;
        content: '';
        background-color: #acacac;
        border-radius: 50%;
      }

      &:last-child {
        padding-bottom: 0;
      }

      @include media-breakpoint-down(md) {
        padding-left: 18px;
        padding-bottom: 3px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 16px;
        line-height: 35px;
        background-position: 0 13px;
      }

      @include media-breakpoint-down(xs) {
        margin-bottom: 7px;
        font-size: 14px;
        line-height: 28px;
      }
    }
  }
}
