.vacancy {
  margin-bottom: 10px;
  padding: 40px 0;
  display: flex;
  width: 100%;

  & + & {
    border-top: 1px solid $text-muted;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 15px;
  }

  @include media-breakpoint-down(sm) {
    padding: 30px 0;
    display: block;
  }

  &__content {
    flex-grow: 1;
  }

  &__head {
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      padding-bottom: 0;
    }

    @include media-breakpoint-down(xs) {
      padding-bottom: 5px;
    }
  }

  &__link {
    width: 228px;
    flex-shrink: 0;

    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }

  &__text {
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      padding-bottom: 20px;
    }

    @include media-breakpoint-down(xs) {
      padding-bottom: 30px;
    }
  }

  &__title {
    position: relative;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 48px;
    font-weight: 800;

    @include media-breakpoint-down(md) {
      padding-right: 35px;
    }

    @include media-breakpoint-down(sm) {
      padding-right: 0;
      justify-content: space-between;
      align-items: flex-end;
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__location {
    margin-right: 80px;
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;

    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 22px;
    }

    @include media-breakpoint-down(xs) {
      margin-right: 20px;
    }
  }

  &__type {
    font-weight: bold;
  }

  &__fire {
    position: absolute;
    top: 3px;
    left: -60px;
    width: 30px;
    height: 38px;
    flex-shrink: 0;
    background: url('../img/fire.svg') no-repeat 0 0 transparent;
    background-size: contain;

    @include media-breakpoint-down(md) {
      position: relative;
      top: 5px;
      left: auto;
      margin-left: 15px;
      display: inline-block;
    }

    @include media-breakpoint-down(sm) {
      margin-left: 10px;
      width: 19px;
      height: 24px;
    }
  }

  &__more {

    @include media-breakpoint-down(md) {
      padding-right: 10px;
      padding-left: 10px;
      max-width: 228px;
    }
  }

  .btn {

    @include media-breakpoint-down(md) {
      max-width: 228px;
    }
  }

  &--hidden {
    display: none;
  }
}
