mixin vacancy(data)
  .vacancy&attributes(attributes)
    .vacancy__content
      .vacancy__head
        .vacancy__title Junior Business Development Manager
          if data.icon
            .vacancy__fire
      .d-flex.align-items-baseline.mb-10.mb-md-20
        p.vacancy__location= data.location
        p.vacancy__type= data.type
      .row
        .col-lg-9
          p.vacancy__text= data.text
    .vacancy__link: a.btn.btn-outline-dark.btn--medium(href="#") Learn More
