.modal {
  display: none;

  &__btn {
    max-width: 357px;

    @include media-breakpoint-down(md) {
      width: 100%;
      max-width: none;
    }
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(md) {
      justify-content: space-between;
      align-items: flex-start;
    }

    @include media-breakpoint-down(xs) {
      padding: 40px 20px;
      min-height: 100vh;
    }
  }

  &__text-top {

    @include media-breakpoint-down(xs) {
      flex-grow: 1;
    }
  }

  &--text {
    width: 100%;
    max-width: 840px !important;

    @include media-breakpoint-down(md) {
      padding: 50px;
      max-width: 520px !important;
    }

    @include media-breakpoint-down(xs) {
      padding: 0;
    }

    .fancybox-close-small {
      display: none;
    }
  }
}
