mixin modal(data)
  .modal&attributes(attributes)
    .modal__text-content
      .modal__text-top
        h2.text-left.text-md-center.mb-20 Fine! Your request has been sent!
        p.text-left.text-md-center.mb-30.mb-md-40 We will contact you as soon as possible!
      a.btn.btn-secondary.btn--medium.modal__btn.modal__close(href="#") Continue
