h1,
.h1 {
  margin: 0;
  font-size: 64px;
  line-height: 72px;
  font-weight: 800;
  text-align: center;

  @include media-breakpoint-down(md) {
    font-size: 48px;
    line-height: 54px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 26px;
    line-height: 30px;
  }

  @include media-breakpoint-down(xs) {
    text-align: left;
  }

  &--xl {
    font-size: 100px;
    line-height: 1;

    @media screen and(max-width: 1400px) {
      font-size: 70px;
      line-height: 80px;
    }

    @include media-breakpoint-down(md) {
      font-size: 60px;
      line-height: 70px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 48px;
      line-height: 52px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 28px;
      line-height: 1;
    }
  }
}

h2,
.h2 {
  margin: 0;
  font-size: 36px;
  line-height: 48px;
  font-weight: 800;
  text-align: center;

  @include media-breakpoint-down(sm) {
    font-size: 20px;
    line-height: 24px;
  }
}

h3,
.h3 {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 20px;
  }

  &--lg {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: $dark;

    @include media-breakpoint-down(md) {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

h4,
.h4 {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 20px;
  }
}

h5 {
}

h6 {
}

p,
.p {
  margin: 0;
  font-size: 18px;
  line-height: 27px;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 28px;
  }
}

.font-weight-medium {
  font-weight: 500 !important;
}

.font-weight-semi {
  font-weight: 600 !important;
}

.font-weight-heavy {
  font-weight: 800 !important;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
  color: $link;
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
