mixin application(data)
  .application&attributes(attributes)
    h2.text-left.mb-20= data.title
    form.form.needs-validation(action="#", method="POST", novalidate)
      .row
        .col-sm-6
          .form-group.mb-20
            input.input.form-control(type="text", placeholder="Name") 
        .col-sm-6
          .form-group.mb-20
            input.input.form-control(type="text", placeholder="Phone Number", required)
            .invalid-feedback Please provide this information.
        .col-12
          .form-group.mb-20
            input.input.form-control(type="email", placeholder="Email")
        if !data.modifier
        else if data.modifier == 'offer'
          .col-12
            .form-group.mb-20
              input.input.form-control(type="text", placeholder="Linkedin link") 
        .col-12
          .form-group.mb-20
            textarea.input.input--textarea.form-control(type="text", placeholder="Write us a few words about yourself")
          .custom-file
            input#customFile.custom-file-input(type='file')
            label.custom-file-label(for='customFile') Attach your CV
            a.custom-file-remove(href="#") remove
          button.btn.btn-secondary.btn--medium.application__btn(type="submit")= data.btn
