mixin slider(data)
  #slider.slider&attributes(attributes)
    .slider__item: .slider__block
      .slider__desc
        .h2.text-left.mb-15 Home Finding
        p.
          A trip, including transportation and hotel costs, to the
          new location to find a future home suitable for your family is paid for.
      .slider__img-wrap: img(src="./img/slider-1.jpg" alt="")
    .slider__item: .slider__block
      .slider__desc
        .h2.text-left.mb-15 Home Finding
        p.
          A trip, including transportation and hotel costs, to the
          new location to find a future home suitable for your family is paid for.
      .slider__img-wrap: img(src="./img/slider-1.jpg" alt="")
    .slider__item: .slider__block
      .slider__desc
        .h2.text-left.mb-15 Home Finding
        p.
          A trip, including transportation and hotel costs, to the
          new location to find a future home suitable for your family is paid for.
      .slider__img-wrap: img(src="./img/slider-1.jpg" alt="")
    .slider__item: .slider__block
      .slider__desc
        .h2.text-left.mb-15 Home Finding
        p.
          A trip, including transportation and hotel costs, to the
          new location to find a future home suitable for your family is paid for.
      .slider__img-wrap: img(src="./img/slider-1.jpg" alt="")
    .slider__item: .slider__block
      .slider__desc
        .h2.text-left.mb-15 Home Finding
        p.
          A trip, including transportation and hotel costs, to the
          new location to find a future home suitable for your family is paid for.
      .slider__img-wrap: img(src="./img/slider-1.jpg" alt="")
  #slider-controls.slider-controls
    #slider-dots
