.slider {

  &__item {
    position: relative;
    z-index: 1;
    padding-bottom: 86px;

    &:after {
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 407px;
      content: '';
      background-color: $light;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &:focus {
      outline: none;
    }

    @include media-breakpoint-down(xs) {
      padding-bottom: 0;
    }
  }

  &__img-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 640px;
    justify-content: flex-end;
    align-items: center;
    text-align: right;

    @include media-breakpoint-down(md) {
      height: 560px;
    }

    @include media-breakpoint-down(sm) {
      height: 364px;
    }

    @include media-breakpoint-down(xs) {
      height: auto;
      justify-content: center;
    }

    img {
      display: block;
      max-height: 100%;
    }
  }

  &__desc {
    position: absolute;
    z-index: 1;
    bottom: 118px;
    left: 8.5%;
    padding-top: 106px;
    padding-right: 70px;
    padding-left: 60px;
    padding-bottom: 154px;
    width: 40.5%;
    min-height: 560px;
    background-color: #fff;

    @include media-breakpoint-down(md) {
      left: 0;
      padding-top: 50px;
      padding-right: 50px;
      padding-left: 0;
      padding-bottom: 100px;
      min-height: 480px;
    }

    @include media-breakpoint-down(sm) {
      bottom: 50px;
      padding-top: 30px;
      padding-right: 30px;
      padding-left: 0;
      padding-bottom: 80px;
      width: 340px;
      min-height: 274px;
    }

    @include media-breakpoint-down(xs) {
      position: relative;
      bottom: 0;
      left: 0;
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 20px;
      width: 100%;
      min-height: 0;
      order: 1;
    }
  }

  &__block {
    padding-right: (100%/12);
    padding-left: (100%/12);

    @include media-breakpoint-down(md) {
      padding-right: 0;
      padding-left: 0;
    }

    @include media-breakpoint-down(sm) {
      position: relative;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      max-width: 700px;
    }

    @include media-breakpoint-down(xs) {
      display: flex;
      flex-direction: column;
    }
  }
}
