.container,
.container-fluid {

  @include media-breakpoint-down(lg) {
    padding-right: 40px;
    padding-left: 40px;
  }

  @include media-breakpoint-down(xs) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.bg-gray-light {
  background-color: $gray-light !important;
}

.row {

  &--custom-margin {

    @include media-breakpoint-down(md) {
      margin-right: -10px;
      margin-left: -10px;
    }
  }
}

.btn {
  padding: 0 33px;
  font-family: $font-family-sans-serif;
  font-size: 20px;
  line-height: 34px;
  font-weight: bold;
  border-radius: 32px;

  @include media-breakpoint-down(md) {
    max-width: 280px;
    font-size: 16px;
    line-height: 50px;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &--medium {
    width: 100%;
    max-width: 228px;
    font-size: 14px;
    line-height: 40px;

    @include media-breakpoint-down(md) {
      max-width: 280px;
      font-size: 13px;
      line-height: 34px;
    }

    @include media-breakpoint-down(xs) {
      max-width: 100%;
    }
  }

  &--long {
    width: 100%;
    max-width: 357px;
    line-height: 64px;

    @media screen and (max-width: 1499px) {
      max-width: 280px;
    }

    @include media-breakpoint-down(md) {
      max-width: 280px;
      line-height: 50px;
    }

    @include media-breakpoint-down(xs) {
      max-width: 100%;
    }
  }
}

.btn-secondary {
  color: $dark;
  border: none;

  &:hover {
    background-color: lighten($secondary, 10%);
    box-shadow: 0 4px 12px 2px rgba(0, 0, 0, .05);
  }
}

.btn-outline-dark {
  color: $black;
  background: transparent;
  border: 1px solid $black;

  &:hover {
    color: $black;
    background-color: $secondary;
    border-color: $secondary;
    box-shadow: 0 4px 12px 2px rgba(0, 0, 0, .05);
  }
}

/* Forms */

.custom-file {
  display: inline-flex;
  width: auto;
  height: auto;
  align-items: center;

  .custom-file-input {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:focus {
      border-color: transparent;
      outline: none;
      box-shadow: none;
    }
  }

  .custom-file-label {
    position: static;
    margin-bottom: 0;
    padding: 0;
    display: inline-flex;
    height: auto;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: #4187c7;
    border: 0;
    border-radius: 0;

    @include media-breakpoint-down(xs) {
      font-size: 14px;
    }

    &:focus {
      border-color: transparent;
      outline: none;
      box-shadow: none;
    }

    &:before {
      margin-right: 9px;
      display: block;
      width: 19px;
      height: 20px;
      content: '';
      background: url(../img/clip.svg) no-repeat;
      background-size: contain;
    }

    &:after {
      display: none;
    }
  }

  .custom-file-remove {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 100%;
    margin-left: 12px;
    display: none;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    color: #4187c7;
    transform: translateY(-50%);
  }

  &--active {

    .custom-file-label {
      color: #333;

      &:before {
        display: none;
      }
    }

    .custom-file-remove {
      display: block;
    }
  }
}

.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .form-control:valid,
.form-control.is-valid {
  background-image: none;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: inherit;
}

//select2
.select2-container--default .select2-selection {
  padding-right: 40px;
  padding-left: 30px;
  height: 64px;
  font-weight: bold;
  text-align: left;
  background-color: #202020;
  border: none;
  border-radius: 32px !important;
  outline: none !important;

  @include media-breakpoint-down(md) {
    height: 50px;
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0;
  font-size: 20px;
  line-height: 64px;
  color: #fff;

  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 50px;
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  right: 28px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background: url(../img/select-arrow.svg) no-repeat center center;
  transition: $transition-base;

  b {
    display: none;
  }
}

.select2-container--open .select2-selection--single .select2-selection__arrow {
  transform: rotate(-180deg);
}

.select2-dropdown {
  margin-top: -1px;
  overflow: hidden;
  background-color: $dark;
  border: none;
  border-radius: 0 32px 32px;
}

.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--multiple {
  border-bottom-color: transparent;
  border-radius: 32px 32px 0 0 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected='true'] {
  background-color: lighten($dark, 5%);
}

.select2-container--default .select2-results__option[aria-selected='true'] {
  font-weight: bold;
}

.select2-results__option {
  padding: 15px 30px;
  height: auto;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  transition: $transition-base;

  &:hover {
    color: $secondary;
    background-color: lighten($dark, 5%);
  }

  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 400px;
}

.select2-selection__placeholder {
  color: #fff !important;
}

//slick
.slick-arrow {
  display: block;
  overflow: hidden;
  width: 48px;
  height: 48px;
  opacity: .3;
  font-size: 0;
  text-indent: -9999;
  color: transparent;
  background: url(../img/slider-arrow.png) no-repeat center center;
  background-color: transparent;
  background-size: 16px 16px;
  border: 1px solid #000;
  border-radius: 50%;
  transition: $transition-base;

  &:hover {
    opacity: 1;
    background-color: $secondary;
    border-color: $secondary;
  }
}

.slick-prev {
  transform: scale(-1, 1);
}

.slick-dots {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  list-style: none;

  @include media-breakpoint-down(sm) {
    padding-right: 15px;
    padding-left: 15px;
  }

  li {
    margin-right: 10px;
    margin-left: 10px;
  }

  button {
    display: block;
    overflow: hidden;
    width: 10px;
    height: 10px;
    opacity: .32;
    font-size: 0;
    text-indent: -9999;
    color: #686868;
    background-color: #686868;
    border-radius: 50%;
    transition: $transition-base;
  }

  .slick-active {

    button {
      opacity: 1;
    }
  }
}

/* Fancybox */

.fancybox-bg {
  opacity: 1 !important;
  background: rgba(0, 0, 0, .52);

  @include media-breakpoint-down(xs) {
    opacity: 1 !important;
    background: #fff;
  }
}

.fancybox-container {

  @include media-breakpoint-down(xs) {
    background: #fff;
  }
}

.fancybox-slide--html {

  @include media-breakpoint-down(xs) {
    padding: 0;
  }
}

.fancybox-content {
  padding: 60px 100px;
  width: 100%;
  max-width: 742px !important;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 42px rgba(0, 0, 0, .12);

  @include media-breakpoint-down(md) {
    padding: 50px;
  }

  @include media-breakpoint-down(xs) {
    padding: 40px 20px;
    min-width: 100vw;
    max-width: none;
    min-height: 100vh;
    border-radius: 0;
    box-shadow: none;
  }
}

.fancybox-close-small {
  top: 40px;
  right: 40px;
  padding: 0;
  width: 16px;
  height: 16px;
  background: url(../img/close-gray.svg) no-repeat;
  background-size: contain;

  @include media-breakpoint-down(md) {
    top: 30px;
    right: 30px;
  }

  @include media-breakpoint-down(xs) {
    right: 20px;
  }

  svg {
    display: none;
  }
}
