include ../blocks/select/select.pug
include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/menu/menu.pug
include ../blocks/logo/logo.pug
include ../blocks/socials/socials.pug
include ../blocks/slider/slider.pug
include ../blocks/front/front.pug
include ../blocks/metro/metro.pug
include ../blocks/img-grid/img-grid.pug
include ../blocks/quote/quote.pug
include ../blocks/awesome/awesome.pug
include ../blocks/text-block/text-block.pug
include ../blocks/vacancy/vacancy.pug
include ../blocks/find-role/find-role.pug
include ../blocks/sort-list/sort-list.pug
include ../blocks/slider-controls/slider-controls.pug
include ../blocks/link-back/link-back.pug
include ../blocks/manager/manager.pug
include ../blocks/application/application.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/modal/modal.pug
include ../blocks/update/update.pug

include ../blocks/animation/animation.pug