.input {
  padding-left: 17px;
  height: 47px;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #333;
  border-radius: 2px;

  @include placeholder(#acacac);

  @include media-breakpoint-down(md) {
    padding-left: 16px;
    height: 40px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 14px;
  }

  &:focus {
    padding-left: 16px;
    border-width: 2px;
    border-color: #ffe711 !important;
    outline: none !important;
    box-shadow: none !important;

    @include media-breakpoint-down(md) {
      padding-left: 15px;
    }
  }

  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  &--textarea {
    padding-top: 14px;
    height: 204px !important;
    resize: none;

    &:focus {
      padding-top: 13px;

      @include media-breakpoint-down(xs) {
        padding-top: 9px;
      }
    }

    @include media-breakpoint-down(md) {
      height: 140px !important;
    }

    @include media-breakpoint-down(xs) {
      padding-top: 10px;
      height: 204px !important;
    }
  }
}
