.slider-controls {
  position: absolute;
  z-index: 3;
  bottom: 220px;
  left: calc((100% / 12) + 65px);
  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    left: 0;
  }

  @include media-breakpoint-down(sm) {
    bottom: 155px;
    left: 50%;
    padding-left: 30px;
    width: 100%;
    max-width: 700px;
    transform: translateX(-50%);
  }

  @include media-breakpoint-down(xs) {
    position: relative;
    bottom: 0;
    padding-left: 0;
    width: 100%;
    justify-content: center;
  }
}
