mixin manager(data)
  .manager&attributes(attributes)
    .manager__photo(style="background-image: url(./img/manager.jpg);")
    .manager__content
      h3.h3--lg Freya Reynlods
      .manager__contacts-wrapper
        a.manager__contact.manager__contact--email(href="#") freya.reynolds@gismart.com
        a.manager__contact.manager__contact--phone(href="#") +44 (0) 7939075967
        a.manager__contact.manager__contact--skype(href="#") f.reynolds
        a.manager__contact.manager__contact--linkedin(href="#") Linkedin
