.manager {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(xs) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__photo {
    margin-right: 25px;
    width: 203px;
    height: 203px;
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
    border-radius: 50%;

    @include media-breakpoint-down(xs) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__content {
  }

  &__contacts-wrapper {
    margin-top: 20px;
  }

  &__contact {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #acacac;

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }

    & + & {
      margin-top: 15px;

      @include media-breakpoint-down(md) {
        margin-top: 10px;
      }
    }

    &:before {
      margin-right: 15px;
      display: block;
      width: 20px;
      height: 20px;
      content: '';

      @include media-breakpoint-down(md) {
        width: 16px;
        height: 16px;
      }
    }

    &--email {

      &:before {
        background: url(../img/email.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--phone {

      &:before {
        background: url(../img/phone.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--skype {

      &:before {
        background: url(../img/skype.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--linkedin {

      &:before {
        background: url(../img/linkedin.svg) no-repeat center;
        background-size: contain;
      }
    }
  }
}
