.socials {
  display: flex;

  a {
    margin-right: 10px;

    @include media-breakpoint-down(md) {
      margin-right: 15px;
    }

    &:last-child {
      margin-right: 0 !important;
    }
  }

  &__icon {
    display: block;
    width: 36px;
    height: 36px;
    color: $dark;
    background: no-repeat center center;
    border: 1px solid;
    border-radius: 50%;
    transition: $transition-base;

    &--fb {
      background-image: url(../img/fb.svg);
    }

    &--instagram {
      background-image: url(../img/inst.svg);
    }

    &--linked {
      background-image: url(../img/in.svg);
    }

    &:hover {
      background-color: $secondary;
    }
  }
}
