mixin socials(data)
  .socials&attributes(attributes)
    a(href="#"): i.socials__icon.socials__icon--fb
    a(href="#"): i.socials__icon.socials__icon--instagram
    a(href="#"): i.socials__icon.socials__icon--linked