.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #fff;
  border-top: 1px solid $light;

  @include media-breakpoint-down(md) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include media-breakpoint-down(xs) {
    padding: 50px 0;
  }

  &__row {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @include media-breakpoint-down(xs) {
      display: block;
    }
  }

  &__menu {
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      padding-top: 32px;
      padding-left: 0;
      width: 100%;
      order: 1;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 10px;
      padding-top: 30px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__menu-link {
    margin-right: 4%;
    display: inline-block;
    opacity: .32;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: $dark;
    transition: $transition-base;

    @include media-breakpoint-down(md) {
      margin-right: 40px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      line-height: 20px;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 20px;
    }

    &:hover {
      opacity: 1;
      color: $dark;
    }

    &:last-child {
      margin-right: 0 !important;
    }
  }

  &__socials {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xs) {
      margin-bottom: 30px;
      display: block;
    }
  }

  &__folow {
    padding-right: 30px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 800;

    @include media-breakpoint-down(sm) {
      padding-right: 20px;
      font-size: 20px;
      line-height: 24px;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 20px;
      padding-right: 0;
    }
  }

  &__bottom {
    padding-top: 68px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;

    @include media-breakpoint-down(md) {
      padding-top: 50px;
      font-size: 14px;
      line-height: 20px;
    }

    @include media-breakpoint-down(xs) {
      padding-top: 0;
      text-align: left;
    }
  }

  &__copyright {
    color: rgba(#333, .32);
  }
}
