mixin footer(data)
  footer.footer&attributes(attributes): .container
    .footer__row
      +logo({img: 'logo-black.svg'})
      .footer__menu
        a.footer__menu-link(href="#") Publishing
        a.footer__menu-link(href="#") Contact Us
        a.footer__menu-link(href="#") Careers
        a.footer__menu-link(href="#") About Us
        a.footer__menu-link(href="#") Privacy Policy
      .footer__socials
        .footer__folow Follow Us
        +socials
    .footer__bottom
      .footer__copyright.mb-30.mb-md-10 Our adress 22 Great Marlborough Street, London, UK W1F 7HU
      .footer__copyright.mb-30.mb-md-10 © 2019 All Rights Reserved.
      .footer__copyright designed by 69pixels.
