extends ../templates/template.pug
block content
  .container.py-50
    .row
      .col-md-4.mx-auto
        h2.mb-20.pb-10.border-bottom Список страниц
        ul.pl-0
          li(style="list-style: none; font-size: 20px;"): a.d-block.my-20(href="main.html", style="") Careers
          li(style="list-style: none; font-size: 20px;"): a.d-block.my-20(href="list.html", style="") Vacancies-List
          li(style="list-style: none; font-size: 20px;"): a.d-block.my-20(href="list-item.html", style="") Vacancy-Item
