extends ../templates/template.pug
block content
  +header({
    logo: 'logo-white.svg'
  }).header--dark
  main
    .container.pb-50.pb-md-80
      .row
        .col-md-11.offset-md-1
          h1.text-left.pb-20 Senior Unity Developer
          h3.h3--lg.font-weight-medium
            span.font-weight-bold Software Developent 
            span team in 
            span.font-weight-bold London, UK
          a.link-back.mt-15.mt-sm-25(href="#") Back to vacancies list
        .col-md-8.col-lg-5.offset-md-1
          .text-block
            h2 About Us
            p.
              Gismart is a developer and publisher of entertainment-focused music apps and games. Believing that anyone has a creative gene, Gismart aims to give people
              an opportunity to express themselves musically. Today the company is working
              in two primary product areas - music entertainment games and music learning apps. With over 350 million downloads Gismart apps are liked by people from all over the world.  The company’s top titles include Beat Maker Go, Piano Crush, Beat Maker Star, Karaoke Face, Hello Piano, WeDrum, Guitar Play and DoubleTune.
            h2 Responsibilities:
            ul
              li Design and construction of the application's architecture basics
              li Writing game mechanics
              li Close work with UX designers and artists
              li Integration of third-party plug-ins
              li Optimization of the application's performance
              li Work with cloud services
            h2 Requirements
            ul
              li 2+ years' experience in mobile games developing on Unity3D engine
              li Knowledge of game and design patterns
              li Knowledge of algorithms
              li Good command of the English language, capable of reading documentation
              li Ability to solve non-trivial tasks
              li Strong knowledge of C # language
              li Strong knowledge of Unity3D base classes, interfaces, and components
              li Work with XCODE development environment and Android Studio
              li Work with third-party plugins and Unity3D services
              li Experience with the GIT version control system
              li Excellent knowledge of vector mathematics
            h2 Bonus Points
            ul
              li Deep understanding of client-server architecture
              li Experience with Dependency Injection
              li Experience working with shaders
              li Knowledge of C # version 6 and 7
              li Experience developing native applications for Android and iOS
            h2 Employee Benefits
            ul
              li Transparent and consistent feedback to help you advance your career
              li Competitive salary
              li Medical Insurance, 100% sick leave coverage, 3 personal days
              li Quarterly Education Days for the entire company
              li English classes
              li Corporate library
              li Breakfast in the office
              li 50% compensation of a car parking
              li 75% compensation of sport activities
              li Fully-stocked kitchen
              li Presents for major life events
              li Сomfortable office in the city center with amazing view
          a.link-back.mt-50.d-none.d-md-flex(href="#") Back to vacancies list
        .col-lg-5.offset-md-1
          h2.text-left.my-20 Vacancy Manager
          +manager.mb-50.mb-sm-85.mb-md-50
          +application({
            title: 'Application for employment',
            btn: 'Apply Now'
          })
  .container
    a.link-back.mb-50.d-flex.d-md-none(href="#") Back to vacancies list
  .bg-light.py-50.py-sm-40: .container: .row.justify-content-center.align-items-baseline
    .col-auto: h4.text-center.text-sm-left.mb-30.mb-sm-0 Did not find a suitable job? Offer your vacancy
    .col-auto: a.btn.btn-outline-dark.btn--medium.js-offer-btn(href="#offer" data-fancybox) WRITE TO US
    +application({
      title: 'Offer your vacancy',
      btn: 'Submit Application',
      modifier: 'offer'
    }).modal#offer
    +modal.modal--text#success
  +footer
