extends ../templates/template.pug
block content
  .position-absolute.w-100.header__wrapper: +header({
    logo: 'logo-white.svg'
  })
  main
    +front({
      title: 'Jobs',
      title_class: 'h1'
    }).front--inner
      p.front__subheader 96 open positions in 3 locations in 27 job categories
    section#sort.sort-list.pt-25.pt-md-60.pb-0.pb-md-80: .container: .row: .col-lg-10.mx-auto
      +vacancy({
        title: 'Project Manager',
        location: 'London, UK',
        type: 'Management',
        icon: false,
        text: 'We are looking for an entrepreneurial Product Manager to work with our marketing, design, engineering, and executive teams. You will participate in all planning as well as work to define and deliver new applications and features. You will be a critical player in shipping new products and tracking their performance.'
      }).sort-list__item(data-location="l1" data-role="c1")
      +vacancy({
        title: 'Developer',
        location: 'London, UK',
        type: 'Management',
        icon: false,
        text: 'We are looking for an entrepreneurial Product Manager to work with our marketing, design, engineering, and executive teams. You will participate in all planning as well as work to define and deliver new applications and features. You will be a critical player in shipping new products and tracking their performance.'
      }).sort-list__item(data-location="l1" data-role="c2")
      +vacancy({
        title: 'QA',
        location: 'London, UK',
        type: 'Management',
        icon: true,
        text: 'We are looking for an entrepreneurial Product Manager to work with our marketing, design, engineering, and executive teams. You will participate in all planning as well as work to define and deliver new applications and features. You will be a critical player in shipping new products and tracking their performance.'
      }).sort-list__item(data-location="l1" data-role="c3")
      +vacancy({
        title: 'QA',
        location: 'Location 2',
        type: 'Management',
        icon: false,
        text: 'We are looking for an entrepreneurial Product Manager to work with our marketing, design, engineering, and executive teams. You will participate in all planning as well as work to define and deliver new applications and features. You will be a critical player in shipping new products and tracking their performance.'
      }).sort-list__item(data-location="l2" data-role="c3")
      +vacancy({
        title: 'Project Manager',
        location: 'Location 2',
        type: 'Management',
        icon: false,
        text: 'We are looking for an entrepreneurial Product Manager to work with our marketing, design, engineering, and executive teams. You will participate in all planning as well as work to define and deliver new applications and features. You will be a critical player in shipping new products and tracking their performance.'
      }).sort-list__item(data-location="l2" data-role="c1")
      +vacancy({
        title: 'QA',
        location: 'Location 3',
        type: 'Management',
        icon: false,
        text: 'We are looking for an entrepreneurial Product Manager to work with our marketing, design, engineering, and executive teams. You will participate in all planning as well as work to define and deliver new applications and features. You will be a critical player in shipping new products and tracking their performance.'
      }).sort-list__item(data-location="l3" data-role="c3")
      +vacancy({
        title: 'Developer',
        location: 'Location 3',
        type: 'Management',
        icon: false,
        text: 'We are looking for an entrepreneurial Product Manager to work with our marketing, design, engineering, and executive teams. You will participate in all planning as well as work to define and deliver new applications and features. You will be a critical player in shipping new products and tracking their performance.'
      }).sort-list__item(data-location="l3" data-role="c2")
      +vacancy({
        title: 'Developer',
        location: 'Location 2',
        type: 'Management',
        icon: false,
        text: 'We are looking for an entrepreneurial Product Manager to work with our marketing, design, engineering, and executive teams. You will participate in all planning as well as work to define and deliver new applications and features. You will be a critical player in shipping new products and tracking their performance.'
      }).sort-list__item(data-location="l2" data-role="c2")
      +vacancy({
        title: 'Project Manager',
        location: 'London, UK',
        type: 'Management',
        icon: false,
        text: 'We are looking for an entrepreneurial Product Manager to work with our marketing, design, engineering, and executive teams. You will participate in all planning as well as work to define and deliver new applications and features. You will be a critical player in shipping new products and tracking their performance.'
      }).sort-list__item.vacancy--hidden(data-location="l1" data-role="c1")
      +vacancy({
        title: 'Developer',
        location: 'London, UK',
        type: 'Management',
        icon: false,
        text: 'We are looking for an entrepreneurial Product Manager to work with our marketing, design, engineering, and executive teams. You will participate in all planning as well as work to define and deliver new applications and features. You will be a critical player in shipping new products and tracking their performance.'
      }).sort-list__item.vacancy--hidden(data-location="l1" data-role="c2")
      +vacancy({
        title: 'QA',
        location: 'London, UK',
        type: 'Management',
        icon: true,
        text: 'We are looking for an entrepreneurial Product Manager to work with our marketing, design, engineering, and executive teams. You will participate in all planning as well as work to define and deliver new applications and features. You will be a critical player in shipping new products and tracking their performance.'
      }).sort-list__item.vacancy--hidden(data-location="l1" data-role="c3")
    .container
      .d-flex.justify-content-md-center.mb-100
        a.btn.btn-secondary.btn--medium.vacancy__more(href="#") Show More
    section#next.bg-gray-light.find-role__wrapper
      .container
        +find-role({
          modifier: 'inner',
        }).find-role--inner
  .bg-light.py-50.py-sm-40: .container: .row.justify-content-center.align-items-baseline
    .col-auto: h4.text-center.text-sm-left.mb-30.mb-sm-0 Did not find a suitable job? Offer your vacancy
    .col-auto: a.btn.btn-outline-dark.btn--medium.js-offer-btn(href="#offer" data-fancybox) WRITE TO US
    +application({
      title: 'Offer your vacancy',
      btn: 'Submit Application',
      modifier: 'offer'
    }).modal#offer
    +modal.modal--text#success
  +footer
