extends ../templates/template.pug
block content
  .position-absolute.w-100.header__wrapper: +header({
    logo: 'logo-white.svg'
  })
  main
    +front({
      title: '– Creating products that inspire',
      title_class: 'h1 h1--xl',
      goto: '#next'
    })
    section#next.bg-gray-light: .container: +find-role({
      modifier: 'main',
    })
    section.pt-50.pt-sm-90.pt-md-100.pb-md-70: .container
      h2.h1.mb-30.mb-md-60.text-left.text-md-center Why Gismart?
      +metro
    section.pt-sm-50.pt-md-100.pb-md-45: .container
      h2.h1.mb-20.mb-sm-10.mb-md-35.text-left.text-md-center Values & Culture
      .row.no-gutters.mb-30.mb-md-80: .col-sm-9.col-md-6.px-md-30.mx-md-auto.text-left.text-md-center: p.
        We keep things simple here. We aim to inspire our teams with a strong sense of value, direction, and ambition.   
      +img-grid
    section.pt-20.pt-sm-45.pb-sm-45.pt-md-70.pb-md-100.mb-md-35: .container: .row
      .col-sm-6.col-lg-3.pb-35.pb-sm-40.animation--fadeUp
        h2.text-left.mb-15.mb-sm-10.mb-md-30 Belief and Initiative    
        p.pr-sm-40.pr-md-50.
          We speak up when we've got an idea, and we aren't afraid to show our strengths. We channel our experiences into actions and always remain proactive.     
      .col-sm-6.col-lg-3.pb-35.pb-sm-40.animation--fadeUp
        h2.text-left.mb-15.mb-sm-10.mb-md-30 Creativity and passion   
        p.pr-sm-40.pr-md-50.
          Passion is what drives us to achieve. We believe in what we're doing, deliver creative solutions, and understand that every voice is critical.
      .col-sm-6.col-lg-3.pb-35.pb-sm-40.animation--fadeUp
        h2.text-left.mb-15.mb-sm-10.mb-md-30 Focus and simplicity 
        p.pr-sm-40.pr-md-50.
          We don't shy away from simplicity. Great ideas aren't built on grandeur - they're built on effective solutions and focus. We channel this and deliver exceptional experiences.
      .col-sm-6.col-lg-3.pb-35.pb-sm-40.animation--fadeUp
        h2.text-left.mb-15.mb-sm-10.mb-md-30 Teamwork and Trust
        p.pr-sm-40.pr-md-50.
          Nearly everything we've achieved, we've accomplished as a team. We stay modest, support our colleagues, and collaborate to get things done.    
    +quote
    section.pt-50.pt-sm-90.pb-sm-40.py-md-130: .container
      h2.h1.mb-20.mb-sm-15.mb-md-10.mb-md-35.text-left.text-md-center Benefits For You
      .row.no-gutters.mb-sm-30.mb-md-55: .col-sm-9.col-md-6.px-md-30.mx-md-auto.text-left.text-md-center: p.
        Comfort is a big deal for us, and there’s nothing wrong with loving where you work. We offer a ton of employee benefits to make sure you’re getting the most out of yourself and your job.
      .row.row--awesome.pt-30.pt-sm-10.pt-md-20
        .col-6.col-sm-3.pb-30.pb-md-80: +awesome({
          img: 'awesome-1.svg',
          title: 'Medical Cover',
          text: 'We offer a complete medical insurance package as well as sick leave coverage and personal days.'
        })
        .col-6.col-sm-3.pb-30.pb-md-80: +awesome({
          img: 'awesome-2.svg',
          title: 'Healthy Initiatives',
          text: 'We compensate all sports activities, offer a free gym and host yoga and running clubs'
        })
        .col-6.col-sm-3.pb-30.pb-md-80: +awesome({
          img: 'awesome-6.svg',
          title: 'Fully-equipped Kitchen',
          text: 'Office breakfasts and a well-stocked kitchen mean you never work hungry'
        })
        .col-6.col-sm-3.pb-30.pb-md-80: +awesome({
          img: 'awesome-4.svg',
          title: 'Personal Development',
          text: 'Enjoy quarterly education days, English classes, professional music lessons, and meetups'
        })
        .col-6.col-sm-3.pb-30.pb-md-80: +awesome({
          img: 'awesome-5.svg',
          title: 'Social Events',
          text: 'Whether we’re throwing a party or going on a company retreat, we know how to have a good time'
        })
        .col-6.col-sm-3.pb-30.pb-md-80: +awesome({
          img: 'awesome-3.svg',
          title: 'Professional Development ',
          text: 'We give clear, consistent, and honest feedback as we create opportunities and nurture talent'
        })
        .col-6.col-sm-3.pb-30.pb-md-80: +awesome({
          img: 'awesome-7.svg',
          title: 'Celebrations & Gifting',
          text: 'We celebrate and support each other with gifting for special occasions'
        })
        .col-6.col-sm-3.pb-30.pb-md-80: +awesome({
          img: 'awesome-8.svg',
          title: 'Inspiring People',
          text: 'Working here presents the opportunity to work with and learn from people at the top of their game'
        })
    section.pt-20.pt-md-50.pb-md-100: .container
      h2.h1.mb-20.mb-sm-15.text-left.text-md-center Relocation Support
      .row.mb-25.mb-sm-30.mb-md-60: .col-sm-9.col-md-6.mx-md-auto.text-left.text-lg-center: p.
        When you receive a job offer or your company transfers you and you need to relocate, you may be eligible for a relocation package
      .position-relative.pb-50.pb-sm-0: +slider
    section.bg-gray-light: .container: +find-role({
      modifier: 'main',
    })
  .bg-light.py-50.py-sm-40: .container: .row.justify-content-center.align-items-baseline
    .col-auto: h4.text-center.text-sm-left.mb-30.mb-sm-0 Did not find a suitable job? Offer your vacancy
    .col-auto: a.btn.btn-outline-dark.btn--medium.js-offer-btn(href="#offer" data-fancybox) WRITE TO US
    +application({
      title: 'Offer your vacancy',
      btn: 'Submit Application',
      modifier: 'offer'
    }).modal#offer
    +modal.modal--text#success
  +footer
