.find-role {
  padding-top: 150px;
  padding-bottom: 130px;
  transition: $transition-base;

  @include media-breakpoint-down(md) {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  @include media-breakpoint-down(xs) {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  &__wrapper {
    z-index: 1 !important;
  }

  &__row {
    padding-top: 50px;
    padding-right: 36px;
    padding-left: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 30px;
    }

    @include media-breakpoint-down(xs) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__title {
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;

    @include media-breakpoint-down(xs) {
      margin-right: -5px;
      margin-left: -5px;
    }

    .h1 {
      text-align: center;

      @include media-breakpoint-down(sm) {
        line-height: 36px;
      }
    }
  }

  &__dscr {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: $dark;

    @include media-breakpoint-down(md) {
      margin-top: 0;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .h3,
  .select,
  .btn {
    margin-bottom: 20px;
  }

  &--inner {
    padding: 100px 0;

    @include media-breakpoint-down(md) {
      padding: 60px 0;
    }

    .h1 {
      font-size: 36px;
      line-height: 48px;
      font-weight: 800;
      color: $dark;

      @include media-breakpoint-down(md) {
        font-size: 26px;
        line-height: 30px;
      }
    }

    .select + .select {
      margin-left: 20px;

      @include media-breakpoint-down(md) {
        margin-left: 0;
      }
    }
  }
}

.is-sticky {

  .find-role {
    padding: 10px 0 40px;
    transition-delay: 500;
  }

  .h1,
  .find-role__dscr {
    height: 0;
    opacity: 0;
    transition: $transition-base;
    transition-delay: 500;
  }
}
