mixin find-role(data)
  .find-role&attributes(attributes)
    .find-role__title: h2.h1 Discover the role for you
    form(name="q").find-role__row
      if !data
      else if data.modifier == 'main'
        .h3.pr-10 
          span.count-of-vacancy 69 
          | open positions in
      .select: select.js-select(name="category", data-placeholder="Job Category Job CategoryJob Category Job CategoryJob Category Job CategoryJob Category Job CategoryJob Category Job Category")
        option
        option(value="c1") Business Development Manager
        option(value="c2") UX DesignerJunior Business Development Manager
        option(value="c3") Product Marketing Manager
        option(value="c3") Front-end Developer
        option(value="l1") London, UK
        option(value="l2") Minsk, Belarus
        option(value="l3") Grodno, Belarus
        option(value="l3") New York, USA
      if !data
      else if data.modifier == 'main'
        .h3.px-20 in
      .select: select.js-select(name="location", data-placeholder="Location")
        option
        option(value="l1") London, UK
        option(value="l2") Minsk, Belarus
        option(value="l3") Grodno, Belarus
        option(value="l3") New York, USA
      button(type="submit").btn.btn-secondary.btn--long.ml-lg-20 Find Job
      if !data
      else if data.modifier == 'inner'
        .find-role__dscr
          span.font-weight-bold 69 
          | vacancies in the 
          span.font-weight-bold Project Management 
          | team in 
          span.font-weight-bold London, UK
