mixin front(data)
  section.front(style="background-image: url(./img/front.jpg)")&attributes(attributes)
    .container.front__title-wrapper
      h1.front__title.front__title--big.animation--fadeIn(class=data.title_class) !{data.title}
      if block
        block
      if data.goto
        a.front__goto(href=data.goto)

