.select {

  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}

.select2-results {
  max-height: 350px !important;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 350px !important;
}

.select2-results__options {
  position: relative !important;
  overflow: hidden !important;
  //  margin-top: -64px;
  //  padding-top: 64px;
}

.select2-results__option {
  line-height: 30px;
}

.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--multiple {

  @include media-breakpoint-down(md) {
    border-radius: 25px 25px 0 0 !important;
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {

  @include media-breakpoint-down(xs) {
    right: 15px;
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-right: 10px;
  max-width: 210px;

  @include media-breakpoint-down(xs) {
    max-width: 100%;
  }
}

.menu__item,
.menu-item {

  &--drop,
  &.menu-item-has-children {
    transition: none !important;

    &:hover {
      background: #333;
      border-radius: 20px 20px 0 0;

      @include media-breakpoint-down(md) {
        background: transparent;
      }
    }
  }

  &:hover {

    .menu__drop,
    .sub-menu {
      transition: none !important;
    }
  }
}

.sticky-wrapper {
  height: 434px !important;
}

.count-of-vacancy {
  display: inline-block;
  min-width: 30px;
  text-align: right;
}

.menu__drop-link {
  transition: none !important;
}

/* Perfect Scrollbar */

.ps__rail-y {
  right: 10px !important;
  display: block !important;
  width: 6px !important;
  opacity: 1 !important;
  background: transparent !important;

  &:hover,
  &:focus {
    background: transparent !important;
    outline: none !important;

    > .ps__thumb-y {
      width: 6px !important;
    }
  }
}

.ps__thumb-y {
  right: 0 !important;
  width: 6px !important;
  opacity: 1 !important;
  background: #fff !important;
}

.select2-results__options--all .select2-results__option:first-child {
  display: none;
}
