mixin img-grid(data)
  .img-grid&attributes(attributes)
    .row.row--custom-margin
      .col-sm-6.px-10.px-md-15.pb-20.pb-md-30.animation--fadeInFast: .img-grid__img: img(src="./img/img-1.jpg" alt="")
      .col-sm-6.px-10.px-md-15.pb-20.pb-md-30.animation--fadeInFast: .img-grid__img: img(src="./img/img-2.jpg" alt="")
      .col-sm-6.px-10.px-md-15.pb-20.pb-md-30.animation--fadeInFast: .img-grid__img: img(src="./img/img-3.jpg" alt="")
      .col-sm-6.px-10.px-md-15.pb-20.pb-md-30.animation--fadeInFast: .img-grid__img: img(src="./img/img-4.jpg" alt="")
