.awesome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include media-breakpoint-down(sm) {
    align-items: flex-start;
    text-align: left;
  }

  &__icon {
    margin-bottom: 10px;
    display: flex;
    width: 140px;
    height: 140px;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(sm) {
      width: 80px;
      height: 80px;
    }
  }

  &__img {
    max-width: 122px;
    height: auto;

    @include media-breakpoint-down(sm) {
      max-width: 70px;
    }
  }

  .h3,
  h3 {
    margin-bottom: 10px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 5px;
    }
  }

  p {
    width: 100%;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      line-height: 1.7;
    }
  }
}
