.link-back {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 34px;
  font-weight: 700;
  color: #acacac;

  &:before {
    margin-right: 8px;
    display: block;
    width: 12px;
    height: 12px;
    content: '';
    background: url(../img/arrow-back.svg) no-repeat;
    background-size: contain;
  }
}
