.quote {
  position: relative;
  padding-bottom: 120px;
  display: flex;
  height: 800px;
  align-items: flex-end;
  background-image: url(../img/quote.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;

  @include media-breakpoint-down(md) {
    padding-bottom: 20px;
    height: 468px;
    background-image: url(../img/quote-sm.jpg);
    background-attachment: scroll;
    background-position: top right;
    background-size: cover;
  }

  @include media-breakpoint-down(xs) {
    margin-top: 10px;
    background-position: top right -150px;
    background-size: cover;
  }

  &__text {
    position: relative;
    margin-left: (100%/12);
    max-width: 620px;
    font-size: 36px;
    line-height: 48px;
    font-weight: 800;
    color: $white;

    @include media-breakpoint-down(md) {
      margin-left: 39px;
      max-width: 270px;
      font-size: 20px;
      line-height: 24px;
      font-weight: 800;
    }

    @include media-breakpoint-down(sm) {
      margin-left: 20px;
    }

    @include media-breakpoint-down(xs) {
      margin-left: 15px;
      max-width: 100%;
    }

    &:before {
      position: absolute;
      top: -15px;
      left: -75px;
      font-size: 144px;
      line-height: 48px;
      font-weight: 800;
      content: '”';
      color: $secondary;

      @include media-breakpoint-down(md) {
        top: -30px;
        left: -19px;
        font-size: 96px;
      }

      @include media-breakpoint-down(xs) {
        left: -12px;
      }
    }
  }

  &__author {
    margin-top: 30px;
    margin-left: (100%/12);
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    color: $white;

    @include media-breakpoint-down(md) {
      margin-top: 10px;
      margin-left: 39px;
      font-size: 16px;
      line-height: 28px;
    }

    @include media-breakpoint-down(sm) {
      margin-left: 20px;
    }

    @include media-breakpoint-down(xs) {
      margin-right: -20px;
      margin-left: 15px;
    }
  }
}
