mixin quote(data)
  .quote&attributes(attributes)
    .quote__bg
    .container
      .quote__text.
        Gismart has come a long way - we’ve seen a small idea grow into this flourishing eco-system that’s built on these amazing people, great ideas, and a ton of hard work. We just want to make sure our teams have the resources and support they need to do incredible things.
      .quote__author Alex Minets, CTO and co-founder
