.menu {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;

  @include media-breakpoint-down(md) {
    padding-bottom: 20px;
    flex-direction: column;
  }

  &__link {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #fff;

    &:after {
      position: absolute;
      top: 100%;
      left: 0;
      display: block;
      width: 100%;
      height: 4px;
      content: '';
      background: $yellow;
      transition: $transition-base;
      transform: scaleX(0);
      transform-origin: left center;
    }

    &:hover,
    &--active {
      color: #fff;

      &:after {
        transform: scaleX(1);
      }
    }

    &--drop {
      padding-right: 15px;
      cursor: pointer;

      @include media-breakpoint-down(md) {
      }

      &:after {
        top: 50%;
        right: 0;
        left: auto;
        margin-top: -7px;
        width: 11px;
        height: 14px;
        background: url(../img/menu_arrow.png) no-repeat center center;
        transform: none;
      }

      &:hover {
        background: #333;
        border-radius: 20px;
      }
    }
  }

  &__drop,
  .menu-item-has-children .sub-menu {
    position: absolute;
    z-index: -1;
    margin-left: -20px;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    list-style: none;
    background-color: transparent;

    @include media-breakpoint-down(md) {
      position: static;
      z-index: 1;
      margin-left: 0;
      padding: 10px 0;
      display: none;
      visibility: visible;
      opacity: 1;
    }
  }

  &__drop-link {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
    transition: $transition-base;

    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
    }

    &:hover {
      color: $yellow;
    }
  }

  &__drop-item {
    margin-bottom: 10px;

    @include media-breakpoint-down(md) {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item,
  .menu-item {
    padding: 10px 20px 0;

    @include media-breakpoint-down(md) {
      position: relative;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &:last-child {
      padding-right: 0;

      @include media-breakpoint-down(md) {
        padding-right: 20px;
      }
    }

    &:hover {

      .menu__drop,
      .sub-menu {
        z-index: 1;
        visibility: visible;
        opacity: 1;
        background: #333;
        border-radius: 0 20px 20px;
        transition: $transition-base;

        @include media-breakpoint-down(md) {
          background: transparent;
        }
      }
    }

    &--drop {

      &:hover {
        background: #333;
        border-radius: 20px 20px 0 0;

        @include media-breakpoint-down(md) {
          background: transparent;
        }
      }
    }
  }
}
