mixin menu(data)
  ul.menu&attributes(attributes)
    li.menu-item: a.menu__link.menu__link--active(href="#") Careers
    li.menu-item.menu-item-has-children
      .menu__link.menu__link--drop Products
      ul.sub-menu
        li.menu__drop-item: a.menu__drop-link(href="#") Piano Crush
        li.menu__drop-item: a.menu__drop-link(href="#") Beat Maker Go
        li.menu__drop-item: a.menu__drop-link(href="#") Beat Maker Star
        li.menu__drop-item: a.menu__drop-link(href="#") Hello Piano
        li.menu__drop-item: a.menu__drop-link(href="#") Guitar Play
        li.menu__drop-item: a.menu__drop-link(href="#") Karaoke Face
        li.menu__drop-item: a.menu__drop-link(href="#") WeDrum
        li.menu__drop-item: a.menu__drop-link(href="#") Hip-Hop Beat Maker
        li.menu__drop-item: a.menu__drop-link(href="#") Music Zen
        li.menu__drop-item: a.menu__drop-link(href="#") DoubleTune
        li.menu__drop-item: a.menu__drop-link(href="#") Metronome
        li.menu__drop-item: a.menu__drop-link(href="#") Piano
        li.menu__drop-item: a.menu__drop-link(href="#") Guitar
        li.menu__drop-item: a.menu__drop-link(href="#") Real Ukulele
    li.menu-item.menu-item-has-children
      .menu__link.menu__link--drop Company
      ul.sub-menu
        li.menu__drop-item: a.menu__drop-link(href="#") About Gismart
        li.menu__drop-item: a.menu__drop-link(href="#") Careers
        li.menu__drop-item: a.menu__drop-link(href="#") Contact Us
    li.menu-item: a.menu__link(href="#") Publishing
    li.menu-item: a.menu__link(href="#") Blog
