mixin metro(data)
  .metro&attributes(attributes)
    .row.align-items-center.row--custom-margin.pb-sm-20.pb-md-0
      .col-6.col-md-3.pb-30.px-10.px-md-15: .metro__img: img(src="./img/metro-1.jpg" alt="")
      .col-6.col-md-3.pb-30.px-10.px-md-15: .metro__img: img(src="./img/metro-2.jpg" alt="")
      .col-md-6.pb-30.order-1.order-md-0.px-10.px-md-15: .metro__text.pl-md-60
        h2.h2.text-left.mb-10.mb-sm-15.animation--fadeUp A home for the innovative and brilliant
        p.animation--fadeUp.
          Our teams are built on passion, skill, and desire - the desire to progress, the passion to create, and the skill to accomplish. We champion diversity, respect perspective, and believe in job satisfaction. We strive for a perfect balance between work and play.
    .row.align-items-center.row--custom-margin
      .col-md-6.pb-30.order-1.order-md-0.px-10.px-md-15: .metro__text.pr-md-60
        h2.h2.text-left.mb-10.mb-sm-15.animation--fadeUp A thriving environment
        p.animation--fadeUp.
          Things never stand still for long, and as our products evolve, so do we. We’ve forged a friendly, creative, and dynamic environment where every voice gets the platform and opportunity it deserves. 
      .col-6.col-md-3.pb-30.px-10.px-md-15: .metro__img: img(src="./img/metro-3.jpg" alt="")
      .col-6.col-md-3.pb-30.px-10.px-md-15: .metro__img: img(src="./img/metro-4.jpg" alt="")
