.metro {

  &__img {
    overflow: hidden;
    height: 330px;

    @include media-breakpoint-down(md) {
      height: 300px;
    }

    @include media-breakpoint-down(sm) {
      height: 39.5vw;
      min-height: 120px;
    }

    @include media-breakpoint-down(xs) {
      height: 37.5vw;
    }

    img {

      @supports (object-fit: cover) {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }

  &__text {

    @include media-breakpoint-down(md) {
      padding-bottom: 10px;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 5px;
    }

    @include media-breakpoint-down(xs) {
      padding-bottom: 20px;
    }
  }
}
