.header {
  position: relative;
  z-index: 100;
  padding: 20px 0 30px;

  @include media-breakpoint-down(md) {
    padding: 0;
    transition: $transition-base;
    transition-delay: .1s;
  }

  &__wrapper {
    left: 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      height: 60px;
    }
  }

  &__hb {
    position: relative;
    margin-right: 2px;
    width: 18px;
    height: 12px;
    color: #fff;
    background-color: transparent;
    border-top: 2px solid;
    border-bottom: 2px solid;

    @include media-breakpoint-down(xs) {
      margin-right: 0;
    }

    &:after,
    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -1px;
      display: block;
      width: 100%;
      height: 2px;
      content: '';
      background-color: currentColor;
      transition: $transition-base;
      transform-origin: center center;
    }

    &.is-active {
      border-color: transparent;

      &:after {
        transform: rotate(45deg);
      }

      &:before {
        transform: rotate(-45deg);
      }
    }
  }

  &__nav {
    display: none;

    @include media-breakpoint-down(md) {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: $dark;
    }
  }

  &--dark {
    margin-bottom: 120px;
    background-color: $dark;

    @include media-breakpoint-down(md) {
      margin-bottom: 60px;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 40px;
    }

    .menu__drop {
      background-color: $dark;
    }
  }

  &.is-menu-open {
    background-color: $dark;
    transition-delay: 0s;
  }

  .logo {
    padding-top: 10px;

    @include media-breakpoint-down(md) {
      //      margin-left: -20px;
    }

    @include media-breakpoint-down(xs) {
      margin-left: 0;
    }
  }
}
