mixin header(data)
  header.header&attributes(attributes)
    .container: .header__row
      +logo({img: data.logo})
      button.header__hb.d-lg-none(type="button")
      nav.header__nav.d-lg-block: +menu
